<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share2renew.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share2renew.pojo.Order">
        <id column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="post_id" property="postId" />
        <result column="order_mobile" property="orderMobile" />
        <result column="order_address" property="orderAddress" />
        <result column="tracking_id" property="trackingId" />
        <result column="order_state" property="orderState" />
        <result column="validity" property="validity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, user_id, post_id, order_mobile, order_address, tracking_id, order_state, validity
    </sql>

    <select id="GetAllOrSpecificByuserId" resultType="com.share2renew.pojo.PostOrderInfo">
        <bind name="pattern" value="'%' + title + '%'" />
        SELECT
            p.post_id,
            p.post_title,
            p.post_purpose,
            p.price,
            p.category_id,
            o.order_id,
            o.order_mobile,
            o.order_address,
            o.tracking_id,
            o.order_state
        FROM
            share2renew.t_post p, share2renew.t_order o
        WHERE
                p.post_id IN (SELECT
                                  o.post_id
                              FROM
                                  share2renew.t_order
                              WHERE
                                  o.user_id = #{userId} and p.post_title like #{pattern})
    </select>

    <select id="GetOrderDetail" resultType="com.share2renew.pojo.PostOrderInfo">
        SELECT
            p.post_id,
            p.post_title,
            p.post_purpose,
            p.price,
            p.category_id,
            p.user_id as buyer_id,
            o.user_id as seller_id,
            o.order_id,
            o.order_mobile,
            o.order_address,
            o.tracking_id,
            o.order_state
        FROM
            share2renew.t_post p, share2renew.t_order o
        WHERE
                p.post_id IN (SELECT
                                  o.post_id
                              FROM
                                  share2renew.t_order
                              WHERE
                                  o.order_id = #{orderId})
    </select>
    <update id="UpdatePayStatus">
        update share2renew.t_order set order_state = 1 where order_id = #{orderId}
    </update>

    <select id="GetSoldOrSpecificByuserId" resultType="com.share2renew.pojo.PostOrderInfo">
        <bind name="pattern" value="'%' + title + '%'" />
        SELECT
            p.post_id,
            p.post_title,
            p.post_purpose,
            p.price,
            p.category_id,
            p.user_id as buyer_id,
            o.user_id as seller_id,
            o.order_id,
            o.order_mobile,
            o.order_address,
            o.tracking_id,
            o.order_state
        FROM
            share2renew.t_post p, share2renew.t_order o
        WHERE
                o.post_id IN (SELECT
                                  p.post_id
                              FROM
                                  share2renew.t_post
                              WHERE
                                  p.user_id = #{userId} and p.post_title like #{pattern})
    </select>

    <select id="GetOrderByUserIdAndStatus" resultType="com.share2renew.pojo.PostOrderInfo">
        SELECT o.*
        FROM share2renew.t_order o
        WHERE user_id = #{userId} AND order_status = #{order_status};
    </select>


    <select id="GetOrderByUserIdAndPostPurpose" resultType="com.share2renew.pojo.PostOrderInfo">
        SELECT o.*
        FROM share2renew.t_order o
        INNER JOIN share2renew.t_post p ON o.post_id = p.post_id
        WHERE o.userId = #{userId} and p.post_purpose = #{post_purpose}

    </select>
</mapper>
