<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share2renew.mapper.PostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share2renew.pojo.Post">
        <id column="post_id" property="postId" />
        <result column="post_detail" property="postDetail" />
        <result column="post_title" property="postTitle" />
        <result column="post_date" property="postDate" />
        <result column="post_purpose" property="postPurpose" />
        <result column="price" property="price" />
        <result column="category_id" property="categoryId" />
        <result column="user_id" property="userId" />
        <result column="validity" property="validity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        post_id, post_detail, post_title, post_date, post_purpose, price, category_id, user_id, validity
    </sql>

    <select id="GetPostId" resultType = "int" >
        SELECT LAST_INSERT_ID()
    </select>

    <select id="getAllPost" resultType="com.share2renew.pojo.Post">
        select *
        from t_post
        where validity = 1
    </select>

</mapper>
