<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share2renew.mapper.UserinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share2renew.pojo.UserInfo">
        <id column="userinfo_id" property="userinfoId" />
        <result column="user_id" property="userId" />
        <result column="profile_picture" property="profilePicture" />
        <result column="mobile" property="mobile" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
        <result column="location" property="location" />
        <result column="validity" property="validity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userinfo_id, user_id, profile_picture, mobile, gender, email, location, validity
    </sql>

</mapper>
