<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share2renew.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share2renew.pojo.Order">
        <id column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="post_id" property="postId" />
        <result column="order_mobile" property="orderMobile" />
        <result column="order_address" property="orderAddress" />
        <result column="tracking_id" property="trackingId" />
        <result column="order_state" property="orderState" />
        <result column="validity" property="validity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, user_id, post_id, order_mobile, order_address, tracking_id, order_state, validity
    </sql>

</mapper>
